/* General Css Style */

* {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/* Header */

.header {
    background: gray;
}

.header-content {
    overflow: hidden;
}

.header .logo {
    width: 40%;
    float: left;
}

.header .logo img {
    width: 30%;
}

.header .nav {
    width: 60%;
    float: left;
    list-style: none;
}

.header .nav li {
    display: inline-block;
}

.header .nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 25px 10px;
}